<launch>
    <arg name="file" default="$(find edge_detection)/data/Image_1.png" />
    <!-- Start the edge_detector.py script -->
    <node name="edge_detector" pkg="edge_detection" type="edge_detector.py" output="screen"/>

    <!-- Start the detector_client.py script node -->
    <node name="detector_client" pkg="edge_detection" type="detector_client.py" output="screen" args="$(arg file)"/>
</launch>