<launch>
    <arg name="rvizconfig" default="$(find edge_detection)/rviz/urdf.rviz" />
    <arg name="arg_open_rviz" default="true" />

    <!-- Start the bag file -->
    <node name="bag_player" pkg="rosbag" type="play" args="-l /home/till/catkin_ws/bag_files/withoutpointcloud.bag"/>

    <!-- Start the edge_detector.py script -->
    <node name="edge_detector" pkg="edge_detection" type="edge_detector.py" output="screen"/>

    <!-- Start the stream_consumer.py script node -->
    <node name="stream_consumer" pkg="edge_detection" type="stream_consumer.py" output="screen"/>

    <!-- Start rviz programm to display image-->
    <node  if="$(arg_open_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
