<launch>
    <!-- Start the bag file -->
    <node name="bag_player" pkg="rosbag" type="play" args="--hz 1 /home/catkin_ws/bag_files/withoutpointcloud.bag"/>

    <!-- Republish and remap byte stream into MAT data-->
    <node pkg="image_transport" type="republish" name="image_republisher" args="raw in:=camera/raw out:=camera/raw/republish"/>


    <!-- Start the edge_detector.py script -->
    <node pkg="edge_detection" type="edge_detector.py" output="screen"/>

    <!-- Start the stream_consumer.py script
    node name="my_consumer" -->
    <pkg="edge_detection" type="stream_consumer.py" output="screen"/>
</launch>
